{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-base-200">
  <div class="card w-96 bg-base-100 shadow-sm">
    <figure>
      <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Hello there</h2>
      <p>Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi.</p>
      <div class="card-actions justify-end">
        <a class="btn btn-primary" href="#">Get Started</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}


